@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    margin: 0;
    padding: 1%;
    background-image: linear-gradient(#FFC3D5, #FF006F);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

h1
{
    color: rgb(134, 1, 52);
}

h4
{
    color: antiquewhite;
}

footer
{
    text-align: center;
    color: antiquewhite;
}

footer a:link,a:visited,a:hover,a:active
{
    color: rgba(134, 1, 52);
}

section
{
    padding: 10%;
    text-align: center;
    color: antiquewhite;
    font-size: 25;
}

em
{
    color: rgba(134, 1, 52);
}

hr
{
    color:rgba(134, 1, 52);
}